@font-face {
    font-family: 'claire_handregular';
    src: url('fonts/claire_hand/clairehandregular-webfont.eot');
    src: url('fonts/claire_hand/clairehandregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/claire_hand/clairehandregular-webfont.woff2') format('woff2'),
         url('fonts/claire_hand/clairehandregular-webfont.woff') format('woff'),
         url('fonts/claire_hand/clairehandregular-webfont.ttf') format('truetype'),
         url('fonts/claire_hand/clairehandregular-webfont.svg#claire_handregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'claire_handbold';
    src: url('fonts/claire_hand/clairehandbold-webfont.eot');
    src: url('fonts/claire_hand/clairehandbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/claire_hand/clairehandbold-webfont.woff2') format('woff2'),
         url('fonts/claire_hand/clairehandbold-webfont.woff') format('woff'),
         url('fonts/claire_hand/clairehandbold-webfont.ttf') format('truetype'),
         url('fonts/claire_hand/clairehandbold-webfont.svg#claire_handbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#body {
    padding: 3% 10% 3% 10%;
    padding-bottom: 70px;   /* Height of the footer */
    font-family: 'claire_handregular';
    font-size: 110%;
}

#container {
    min-height: 100%;
    position: relative;
    background-image: url("/static/css/graph-tile-black.png");
}

#content {
  max-width: 1000px;
}

#article {
  background-color: rgba(255,255,255,0.75);
  padding: 1%;
}

#header {
    font-family: 'claire_handregular';
    color: white;
    background: #000;
    padding: 10px;
}

.footnote {
  font-size: 85%;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 1%;
}

.grid-button {
    position: relative;
    text-align: center;
    border: 5px solid #fff;
}

.subtitle {
	text-align: center;
	color: #fff;
	font-size: 300%;
  padding: 20px 0 20px 0;
}

@media only screen and (max-width:480px) {
  .grid-button a {
      display: block;
      font-size: 150%;
      color: #ffffff;
      text-decoration: none;
  }
}

@media only screen and (min-width:481px) {
  .grid-button a {
      display: block;
      font-size: 300%;
      color: #ffffff;
      text-decoration: none;
  }
}

.grid-button a:hover {
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.2);
}

#title {
    font-family: 'claire_handbold';
    text-align: center;
    font-size: 250%;
    padding: 1% 0 1% 0;
}

#title a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (max-width:480px) {
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;   /* Height of the footer */
        background: #000;
        font-size: 100%;
        font-family: 'claire_handregular';
        line-height: 110%;
    }

    .footer-content {
        position: relative;
        bottom: -30%;
        color: white;
        margin-left: 1%;
    }

    #body {
      padding: 3%;
      padding-bottom: 130px;
    }
}

@media only screen and (min-width:481px) {
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 85px;   /* Height of the footer */
        background: #000;
        font-size: 130%;
        font-family: 'claire_handregular';
        line-height: 95%;
    }

    .footer-content {
        position: relative;
        bottom: -45%;
        color: white;
        margin-left: 1%;
    }

    #body {
      padding: 3%;
      padding-bottom: 150px;
    }
}

@media only screen and (min-width:901px) {
  #content {
    margin-left: auto;
    margin-right: auto;
  }
}


/* -- HEADINGS -- */
h1 {
    font-family: 'claire_handregular';
    font-size: 200%;
}

h2 {
    font-family: 'claire_handregular';
    font-size: 155%;
}

a {
    color: #be2e0d;
}

sub {
    vertical-align: 0;
    position: relative;
    top: 0.3ex;
}

::selection {
    background-color: #be2e0d;
    color: #fff;
}

@media only screen and (max-width:480px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
    }
}

@media only screen and (min-width:481px) {
    img {
        display: block;
        padding: 1%;
    }
}
